extend mobileindex
block content
  div.weui_cells_title 表单
  div.weui_cells.weui_cells_form
    div.weui_cell
      div.weui_cell_hd
        label.weui_label qq
      div.weui_cell_bd.weiui_cell_primary
        input.weui_input(type="tel",placeholder="请输入寄件人名称")